@use 'variables' as *;

body {
    overflow-x: hidden;
}

.container {
    width: min(100% - $container-padding * 2, $breakpoint-desktop);
    margin-inline: auto;
    padding-inline: $container-padding;
}