@use 'variables' as *;
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: min(100%, calc(1440px + $container-padding * 2));
    margin-inline: auto;
    padding-inline: $container-padding;
}