@use 'variables' as *;
@use 'typography' as *;

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: min(100%, calc(1440px + $container-padding * 2));
    margin-inline: auto;
    padding-inline: $container-padding;
}

.page-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-left: 6px solid $accent;
    padding-left: 40px;

    @media (min-width: $breakpoint-tablet) {
        gap: 24px;
    }

    @media (min-width: $breakpoint-desktop) {
        gap: 32px;
    }

    &__title {
        @include headline1;
    }

    &__subtitle {
        @include text3;
    }
}