// Colors
// Text
$text-main: #FFFFFF;
$text-link-1: #6272FF;
$text-additional: #CFCFCF;

// Accent
$accent: #525FD1;

// Background
$background-1: #2D2E34;
$background-2: #E9E9E9;
$background-3: #FAFAFA;
$background-4: #4F525C;

// Divider
$divider: #E9E9E9;

