// Colors
// Text
$text-main: #FFFFFF;
$text-link-1: #6272FF;
$text-additional: #CFCFCF;

// Accent
$accent: #525FD1;
$accent-hover: #808DFD;

// Error
$error: #FF3535;

// Background
$background-1: #2D2E34;
$background-2: #E9E9E9;
$background-3: #FAFAFA;
$background-4: #4F525C;
$background-5: #293133;
$background-6: rgba($background-1, 0.6);
$background-7: #C5C5C5;
$background-8: #2D2E3460;

// Divider
$divider: #E9E9E9;
$divider-2: rgba($divider, 0.35);

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 900px;

// Sizes
$container-padding: 40px;